<launch>
    <arg name="map" default="RMUL.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find bot_sim)/map/$(arg map)"/>
    <node pkg="bot_sim" type="collision_cost_map.py" name="collision_cost_map" output="screen">
        <param name="map_path" type="string" value="RMUL"/>
    </node>
</launch>
