<launch>
    <node name="ser2msg" pkg="bot_sim" type="ser2msg" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyACM0" />
        <param name="virtual_frame" type="string" value="virtual_frame" />
        <param name="rotbase_frame" type="string" value="rotbase_frame" />
        <param name="delta_time" type="double" value="0.01" />
        <param name="vel_topic" type="string" value="/velocity" />
    </node>
    <!-- <node name="cmd2ser" pkg="bot_sim" type="cmd2ser" output="screen">
        <param name="vel_topic" type="string" value="/velocity" />
    </node> -->
    
</launch>
