<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find bot_sim_stable)/urdf/lrf/lrf.gazebo.xacro"/>
  <xacro:include filename="$(find bot_sim_stable)/urdf/lrf/lrf.transmission.xacro"/>

  <xacro:macro name="lrf_v0" params="prefix parent *joint_origin *joint_axis">	
  <link name="${prefix}_lrf_link">
    <inertial>
      <mass value="1"/> <!-- 质量 -->
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/> <!-- 惯性矩阵 -->
    </inertial>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/> <!-- 设置方块的大小 -->
      </geometry>
      <material name="blue"> <!-- 设置方块的颜色 -->
        <color rgba="0 0 1 1"/> <!-- RGBA颜色，这里是蓝色 -->
      </material>
    </visual>
    <!-- 其他元素，如collision等 -->
  </link>
	<!-- <joint name="${prefix}_lrf_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="${prefix}_lrf_link"/>
	</joint>	 -->
  
	<joint name="${prefix}_lrf_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="${prefix}_lrf_link"/>
	</joint>
  </xacro:macro>

</robot>
